[Desktop Entry]
Type=Application
Name=Waterfox
Comment=A free, open and private browser
Exec=waterfox
Icon=waterfox
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;WebBrowser;
